<section class="page-head-section">
  <div class="container page-heading">
    <h2 class="h3 mb-3 text-white text-center ng-star-inserted">Product Detail</h2>
    <nav aria-label="breadcrumb">
      <ol
        class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star"
      >
        <li class="breadcrumb-item ng-star-inserted">
          <a href="/zomo/home/classic"><i class="ri-home-line"></i>Product List</a>
        </li>
        <li aria-current="page" class="breadcrumb-item active ng-star-inserted">
          Product Detail
        </li>
      </ol>
    </nav>
  </div>
</section>
<h1>{{ product.name }}</h1>
