<app-header></app-header>

<section class="categories-section section-b-space nav-true">
    <img
      src="assets/images/scooter.png"
      class="scooter-img img-fluid d-md-inline-block d-none"
    />
    <div class="container">
      <!---->
      <div class="title">
        <div class="loader-line"></div>
        <!---->
        <h2>{{'Categories'|translate}}</h2>
        <div class="sub-title">
          <p>
            {{'Browse out top categories here to discover different food cuision.'|translate}}
          </p>
        </div>
      </div>
  
      <div class="theme-arrow">
        <div class="swiper categories-slider categories-style">
          <div class="swiper-wrapper">
            <div
              class="owl-carousel owl-theme owl-loaded owl-responsive owl-drag"
            >
              <div class="owl-stage-outer ng-star-inserted">
                <div class="ng-tns-c4272209844-0">
                  <div
                    class="owl-stage ng-tns-c4272209844-0"
                    style="
                      width: 10881px;
                      transform: translate3d(-2790px, 0px, 0px);
                      transition: all;
                    "
                  >
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-11.png"
                          />
                          <h4 class="dark-text">Hotdog</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-12.png"
                          />
                          <h4 class="dark-text">Donuts</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-13.png"
                          />
                          <h4 class="dark-text">Coffee</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-14.png"
                          />
                          <h4 class="dark-text">Sandwich</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-15.png"
                          />
                          <h4 class="dark-text">Noddle</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-16.png"
                          />
                          <h4 class="dark-text">Pasta</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-17.png"
                          />
                          <h4 class="dark-text">Meggi</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-18.png"
                          />
                          <h4 class="dark-text">Momos</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-19.png"
                          />
                          <h4 class="dark-text">Salad</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-20.png"
                          />
                          <h4 class="dark-text">Biryani</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight active ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="../assets/images/product/p-1.png"
                          />
                          <h4 class="dark-text">Pizza</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight active ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-2.png"
                          />
                          <h4 class="dark-text">Chicken</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight active ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-3.png"
                          />
                          <h4 class="dark-text">Burger</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight active ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-5.png"
                          />
                          <h4 class="dark-text">Fries</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-6.png"
                          />
                          <h4 class="dark-text">Boritto</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-7.png"
                          />
                          <h4 class="dark-text">Taco</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-8.png"
                          />
                          <h4 class="dark-text">Muffin</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-9.png"
                          />
                          <h4 class="dark-text">Meat</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-10.png"
                          />
                          <h4 class="dark-text">Panner</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-11.png"
                          />
                          <h4 class="dark-text">Hotdog</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-12.png"
                          />
                          <h4 class="dark-text">Donuts</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-13.png"
                          />
                          <h4 class="dark-text">Coffee</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-14.png"
                          />
                          <h4 class="dark-text">Sandwich</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-15.png"
                          />
                          <h4 class="dark-text">Noddle</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-16.png"
                          />
                          <h4 class="dark-text">Pasta</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-17.png"
                          />
                          <h4 class="dark-text">Meggi</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-18.png"
                          />
                          <h4 class="dark-text">Momos</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-19.png"
                          />
                          <h4 class="dark-text">Salad</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-20.png"
                          />
                          <h4 class="dark-text">Biryani</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-1.png"
                          />
                          <h4 class="dark-text">Pizza</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-2.png"
                          />
                          <h4 class="dark-text">Chicken</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-3.png"
                          />
                          <h4 class="dark-text">Burger</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-5.png"
                          />
                          <h4 class="dark-text">Fries</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-6.png"
                          />
                          <h4 class="dark-text">Boritto</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-7.png"
                          />
                          <h4 class="dark-text">Taco</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-8.png"
                          />
                          <h4 class="dark-text">Muffin</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-9.png"
                          />
                          <h4 class="dark-text">Meat</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-10.png"
                          />
                          <h4 class="dark-text">Panner</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!---->
                    <div
                      class="owl-item ng-tns-c4272209844-0 ng-trigger ng-trigger-autoHeight cloned ng-star-inserted"
                      style="width: 279px"
                    >
                      <div
                        class="swiper-slide ng-star-inserted"
                        style="margin-right: 20px"
                      >
                        <a
                          class="food-categories"
                          href="/zomo/order/restaurant-listing"
                          ><img
                            alt="p-1"
                            class="img-fluid categories-img"
                            src="assets/images/product/p-11.png"
                          />
                          <h4 class="dark-text">Hotdog</h4></a
                        >
                      </div>
                      <!----><!---->
                    </div>
                    <!----><!---->
                  </div>
                </div>
              </div>
              <!---->
              <div class="owl-nav disabled ng-star-inserted">
                <div class="owl-prev">
                  <span class="owl-prev-icon"></span>
                </div>
                <div class="owl-next">
                  <span class="owl-next-icon"></span>
                </div>
              </div>
              <div class="owl-dots disabled ng-star-inserted">
                <!---->
              </div>
              <!----><!---->
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

 <app-restaurant-list></app-restaurant-list>
  
  <section class="app-section">
    <div class="container">
      <div class="d-flex align-items-center">
        <div class="app-img">
          <img
            src="assets/images/service-phone.png"
            alt="app-phone"
            class="img-fluid phone"
          />
        </div>
        <div class="app-content">
          <h2>{{'MUSTFOOD App : Online &amp; Mobile Ordering'|translate}}</h2>
          <h5>
            {{'Get the app for free and place takeout orders online whenever you want.'|translate}}
          </h5>
          <div class="app-buttons d-flex align-items-center gap-3">
            <a href="https://www.apple.com/in/app-store/"
              ><img
                src="assets/images/svg/app-store.svg"
                alt="app-store"
                class="img-fluid app-btn" /></a
            ><a href="https://play.google.com/store/apps"
              ><img
                src="assets/images/svg/google-play.svg"
                alt="google-play"
                class="img-fluid app-btn"
            /></a>
          </div>
        </div>
      </div>
    </div>
  </section>
  