<section class="home-wrapper section-b-space overflow-hidden">
    <div class="background-effect">
      <div class="background-effect">
        <div class="main-circle">
          <div class="main-circle circle-1">
            <div class="main-circle circle-2"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container text-center">
      <h1>MUSTFOOD</h1>
      <h2>{{'Discover restaurants that deliver near you' |translate }}</h2>
      <div class="search-section">
        <form
          novalidate=""
          class="auth-form search-head ng-untouched ng-pristine ng-valid"
        >
          <div class="form-group">
            <div class="form-input mb-0">
              <input
                type="text"
                placeholder="{{'Search for Restaurant'|translate}}"
                class="form-control search ng-untouched ng-pristine ng-valid"
              /><i class="ri-search-line search-icon"></i>
            </div>
          </div>
        </form>
        <a href="javascript:void(0);" role="button" class="btn theme-btn mt-0"
          >{{'Search'|translate}}</a
        >
      </div>
      <ul class="home-features-list d-md-flex d-none">
        <li>
          <div class="home-features-box">
            <img
              alt="routing"
              class="img-fluid icon"
              src="assets/images/svg/routing.svg"
            />
            <h6>{{'Wide Map'|translate}}</h6>
          </div>
        </li>
        <li>
          <div class="home-features-box">
            <img
              alt="routing"
              class="img-fluid icon"
              src="assets/images/svg/3d-rotate.svg"
            />
            <h6>{{'Easiest Order'|translate}}</h6>
          </div>
        </li>
        <li>
          <div class="home-features-box">
            <img
              alt="routing"
              class="img-fluid icon"
              src="assets/images/svg/truck.svg"
            />
            <h6>{{'Most Delivery'|translate}}</h6>
          </div>
        </li>
        <!---->
      </ul>
    </div>
  </section>