<p-toast></p-toast>
<app-navbar></app-navbar>
<app-header></app-header>

<router-outlet></router-outlet>

<app-fooder></app-fooder>

<div class="mobile-menu d-md-none d-block mobile-cart">
  <ul>
    <li routerlinkactive="active" class="active">
      <a class="menu-box" href="/zomo/home/classic"
        ><i class="ri-home-4-line"></i><span>Home</span></a
      >
    </li>
    <li routerlinkactive="active">
      <a class="menu-box" href="/zomo/pages/wishlist"
        ><i class="ri-heart-3-line"></i><span>Wishlist</span></a
      >
    </li>
    <li routerlinkactive="active">
      <a class="menu-box" href="/zomo/order/checkout"
        ><i class="ri-shopping-cart-2-line"></i><span>Cart</span></a
      >
    </li>
    <li routerlinkactive="active">
      <a class="menu-box" href="/zomo/account/change-profile"
        ><i class="ri-user-line"></i><span>Profile</span></a
      >
    </li>
  </ul>
</div>
