<footer class="footer-section section-t-space">
    <!---->
    <div class="subscribe-section">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="subscribe-part">
              <h5>
                {{'Dont pass up our fantastic discounts. email offers from all of our best eateries'|translate}}</h5>
              
              <!---->
              <div class="position-relative w-100">
                <input
                  type="email"
                  placeholder="Enter your Email"
                  class="form-control subscribe-form-control"
                /><a
                  href="javascript:void(0);"
                  class="btn theme-btn subscribe-btn mt-0"
                  >{{'Subscribe Now' |translate}}</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="main-footer">
        <div class="row g-3">
          <div class="col-xl-4 col-lg-12">
            <div class="footer-logo-part">
              <img
                alt="logo"
                class="img-fluid logo"
                src="assets/images/svg/A.svg"
              /><!---->
              <p>
                {{'Welcome to our online order website! Here, you can browse our wide selection of products and place orders from the comfort of your own home.'|translate}}
              </p>
              <!---->
              <div class="social-media-part">
                <ul class="social-icon">
                  <li>
                    <a href="https://www.facebook.com/login/"
                      ><i class="ri-facebook-fill icon"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://twitter.com/i/flow/login"
                      ><i class="ri-twitter-fill icon"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.linkedin.com/login/"
                      ><i class="ri-linkedin-fill icon"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.instagram.com/accounts/login/"
                      ><i class="ri-instagram-fill icon"></i
                    ></a>
                  </li>
                  <li>
                    <a href="https://www.youtube.com/"
                      ><i class="ri-youtube-fill icon"></i
                    ></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-xl-8">
            <div class="row g-3">
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div>
                  <h5 class="footer-title">{{'Company'|translate}}</h5>
                  <ul class="content">
                    <li>
                      <a href="/zomo/about"><h6>{{'About us'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/contact"><h6>{{'Contact us'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/order/offer"><h6>{{'Offer'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/pages/faqs"><h6>FAQs</h6></a>
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div>
                  <h5 class="footer-title">{{'Account'|translate}}</h5>
                  <ul class="content">
                    <li>
                      <a href="/zomo/account/my-order"><h6>{{'My orders'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/pages/wishlist"><h6>{{'Wishlist'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/order/checkout"><h6>{{'Shopping Cart'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/account/saved-address"
                        ><h6>{{'Saved Address'|translate}}</h6></a
                      >
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div>
                  <h5 class="footer-title">{{'Useful links'|translate}}</h5>
                  <ul class="content">
                    <li>
                      <a href="/zomo/blog/grid-left-sidebar"><h6>Blogs</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/pages/sign-in"><h6>{{'Login'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/pages/sign-up"><h6>{{'Register'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/account/change-profile"><h6>{{'Profile'|translate}}</h6></a>
                    </li>
                    <li>
                      <a href="/zomo/account/settings"><h6>{{'Settings'|translate}}</h6></a>
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
              <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-12">
                <div>
                  <h5 class="footer-title">{{'Top Brands'|translate}}</h5>
                  <ul class="content">
                    <li>
                      <a href="/zomo/order/menu-listing/poultry-palace"
                        ><h6>PizzaBoy</h6></a
                      >
                    </li>
                    <li>
                      <a href="/zomo/order/menu-listing/poultry-palace"
                        ><h6>Saladish</h6></a
                      >
                    </li>
                    <li>
                      <a href="/zomo/order/menu-listing/poultry-palace"
                        ><h6>IcePops</h6></a
                      >
                    </li>
                    <li>
                      <a href="/zomo/order/menu-listing/poultry-palace"
                        ><h6>Maxican Hoy</h6></a
                      >
                    </li>
                    <li>
                      <a href="/zomo/order/menu-listing/poultry-palace"
                        ><h6>La Foodie</h6></a
                      >
                    </li>
                    <!---->
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom-footer-part">
        <div
          class="d-flex align-items-center justify-content-between flex-wrap gap-2"
        >
          <h6>{{'Copyright 2024 MustFood. All rights Reserved.'|translate}}</h6>
          <img
            alt="card"
            class="img-fluid cards"
            src="assets/images/icons/footer-card.png"
          />
        </div>
        <!---->
      </div>
    </div>
  </footer>