<div class="change-profile-content" *ngIf="this.currentUser">
    <div class="title ng-star-inserted">
      <div class="loader-line ng-star-inserted"></div>
      <h3 class="ng-star-inserted">Change Profile</h3>
    </div>
    <ul class="profile-details-list">
      <li class="ng-star-inserted">
        <div class="profile-content">
          <div class="d-flex align-items-center gap-sm-2 gap-1">
            <i class="ri-user-3-fill"></i><span>Name :</span>
          </div>
          <h6>{{ currentUser.firstName }}</h6>
        </div>
        <a class="btn theme-outline">Edit</a>
      </li>
      <li class="ng-star-inserted">
        <div class="profile-content">
          <div class="d-flex align-items-center gap-sm-2 gap-1">
            <i class="ri-mail-fill"></i><span>Email :</span>
          </div>
          <h6>{{ currentUser.email }}</h6>
        </div>
        <a class="btn theme-outline">Change</a>
      </li>
      <li class="ng-star-inserted">
        <div class="profile-content">
          <div class="d-flex align-items-center gap-sm-2 gap-1">
            <i class="ri-phone-fill"></i><span>Phone Number :</span>
          </div>
          <h6>{{ currentUser.phoneNumber }}</h6>
        </div>
        <a class="btn theme-outline">Change</a>
      </li>
      <li class="ng-star-inserted">
        <div class="profile-content">
          <div class="d-flex align-items-center gap-sm-2 gap-1">
            <i class="ri-lock-2-fill"></i><span>Password :</span>
          </div>
          <h6>{{ currentUser.password }}</h6>
        </div>
        <a class="btn theme-outline">Change</a>
      </li>
    </ul>
  </div>