<section _ngcontent-ng-c294890318="" class="page-head-section">
      <div _ngcontent-ng-c294890318="" class="container page-heading">
        <h2
          _ngcontent-ng-c294890318=""
          class="h3 mb-3 text-white text-center ng-star-inserted"
        >
          Profile
        </h2>
        <!---->
        <nav _ngcontent-ng-c294890318="" aria-label="breadcrumb">
          <ol
            _ngcontent-ng-c294890318=""
            class="breadcrumb flex-lg-nowrap justify-content-center justify-content-lg-star"
          >
            <li
              _ngcontent-ng-c294890318=""
              class="breadcrumb-item ng-star-inserted"
            >
              <a _ngcontent-ng-c294890318="" href="/zomo/home/classic"
                ><i _ngcontent-ng-c294890318="" class="ri-home-line"></i>Home</a
              >
            </li>
            <!---->
            <li
              _ngcontent-ng-c294890318=""
              aria-current="page"
              class="breadcrumb-item active ng-star-inserted"
            >
              Profile
            </li>
            <!---->
          </ol>
        </nav>
      </div>
    </section>

  <section _ngcontent-ng-c3593628111="" class="profile-section section-b-space">
    <div _ngcontent-ng-c3593628111="" class="container">
      <div _ngcontent-ng-c3593628111="" class="row g-3">
        <div _ngcontent-ng-c3593628111="" class="col-lg-3">
          <div
              _ngcontent-ng-c1300885330=""
              class="profile-sidebar sticky-top"
            >
              <div _ngcontent-ng-c1300885330="" class="profile-cover">
                <img
                  _ngcontent-ng-c1300885330=""
                  src="assets/images/icons/p5.png"
                  alt="profile"
                  class="img-fluid profile-pic"
                />
              </div>
              <div _ngcontent-ng-c1300885330="" class="profile-name">
                <h5 _ngcontent-ng-c1300885330="" class="user-name">
                  Mark Jecno
                </h5>
                <h6 _ngcontent-ng-c1300885330="">mark-jec.com</h6>
              </div>
              <ul _ngcontent-ng-c1300885330="" class="profile-list">
                <li
                  _ngcontent-ng-c1300885330=""
                  routerlinkactive="active"
                  class="active"
                >
                  <i _ngcontent-ng-c1300885330="" class="ri-user-3-line"></i
                  ><a
                    _ngcontent-ng-c1300885330=""
                    href="/zomo/account/change-profile"
                    >Change Profile</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i
                    _ngcontent-ng-c1300885330=""
                    class="ri-shopping-bag-3-line"
                  ></i
                  ><a _ngcontent-ng-c1300885330="" href="/zomo/account/my-order"
                    >My Order</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i _ngcontent-ng-c1300885330="" class="ri-map-pin-line"></i
                  ><a
                    _ngcontent-ng-c1300885330=""
                    href="/zomo/account/saved-address"
                    >Saved Address</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i _ngcontent-ng-c1300885330="" class="ri-bank-card-line"></i
                  ><a
                    _ngcontent-ng-c1300885330=""
                    href="/zomo/account/saved-card"
                    >Saved Card</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i _ngcontent-ng-c1300885330="" class="ri-question-line"></i
                  ><a _ngcontent-ng-c1300885330="" href="/zomo/pages/faqs"
                    >Help</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i _ngcontent-ng-c1300885330="" class="ri-settings-3-line"></i
                  ><a _ngcontent-ng-c1300885330="" href="/zomo/account/settings"
                    >Setting</a
                  >
                </li>
                <li _ngcontent-ng-c1300885330="" routerlinkactive="active">
                  <i
                    _ngcontent-ng-c1300885330=""
                    class="ri-logout-box-r-line"
                  ></i
                  ><a _ngcontent-ng-c1300885330="">Log Out</a>
                </li>
              </ul>
            </div>
        </div>
        <div _ngcontent-ng-c3593628111="" class="col-lg-9">
          <div _ngcontent-ng-c3593628111="" class="change-profile-content">
            <div _ngcontent-ng-c206678205="" class="title ng-star-inserted">
                <div
                  _ngcontent-ng-c206678205=""
                  class="loader-line ng-star-inserted"
                ></div>
                <!---->
                <h3 _ngcontent-ng-c206678205="" class="ng-star-inserted">
                  Change Profile
                </h3>
                <!----><!---->
              </div>
              
            <ul _ngcontent-ng-c3593628111="" class="profile-details-list">
              <li _ngcontent-ng-c3593628111="" class="ng-star-inserted">
                <div _ngcontent-ng-c3593628111="" class="profile-content">
                  <div
                    _ngcontent-ng-c3593628111=""
                    class="d-flex align-items-center gap-sm-2 gap-1"
                  >
                    <i _ngcontent-ng-c3593628111="" class="ri-user-3-fill"></i
                    ><span _ngcontent-ng-c3593628111="">Name :</span>
                  </div>
                  <h6 _ngcontent-ng-c3593628111="">Mark Jecno</h6>
                </div>
                <a _ngcontent-ng-c3593628111="" class="btn theme-outline"
                  >Edit</a
                >
              </li>
              <li _ngcontent-ng-c3593628111="" class="ng-star-inserted">
                <div _ngcontent-ng-c3593628111="" class="profile-content">
                  <div
                    _ngcontent-ng-c3593628111=""
                    class="d-flex align-items-center gap-sm-2 gap-1"
                  >
                    <i _ngcontent-ng-c3593628111="" class="ri-mail-fill"></i
                    ><span _ngcontent-ng-c3593628111="">Email :</span>
                  </div>
                  <h6 _ngcontent-ng-c3593628111="">mark-jecnomail.com</h6>
                </div>
                <a _ngcontent-ng-c3593628111="" class="btn theme-outline"
                  >Change</a
                >
              </li>
              <li _ngcontent-ng-c3593628111="" class="ng-star-inserted">
                <div _ngcontent-ng-c3593628111="" class="profile-content">
                  <div
                    _ngcontent-ng-c3593628111=""
                    class="d-flex align-items-center gap-sm-2 gap-1"
                  >
                    <i _ngcontent-ng-c3593628111="" class="ri-phone-fill"></i
                    ><span _ngcontent-ng-c3593628111="">Phone Number :</span>
                  </div>
                  <h6 _ngcontent-ng-c3593628111="">+1 (692)52 - 95555</h6>
                </div>
                <a _ngcontent-ng-c3593628111="" class="btn theme-outline"
                  >Change</a
                >
              </li>
              <li _ngcontent-ng-c3593628111="" class="ng-star-inserted">
                <div _ngcontent-ng-c3593628111="" class="profile-content">
                  <div
                    _ngcontent-ng-c3593628111=""
                    class="d-flex align-items-center gap-sm-2 gap-1"
                  >
                    <i _ngcontent-ng-c3593628111="" class="ri-lock-2-fill"></i
                    ><span _ngcontent-ng-c3593628111="">Password :</span>
                  </div>
                  <h6 _ngcontent-ng-c3593628111="">*****</h6>
                </div>
                <a _ngcontent-ng-c3593628111="" class="btn theme-outline"
                  >Change</a
                >
              </li>
              <!---->
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>
